{% extends "order/base.html" %}
{% load static %}

  {% block title %} Login {% endblock %}
  {% block static %}
  <script type="text/javascript" src="{% static 'order/login.js' %}"></script>

  {% endblock %}
  {% block style %}
    <link rel="stylesheet" href="{% static 'order/login.css' %}">
  {% endblock %}

    {% block body %}
    <div class="background">


  <div class="forms">

    <div class="toggle-btn">
      <div id="in-use">
      </div>
      <button id="login" type="button" class="tg-btn"> Login </button>
      <button id="register" type="button" class="tg-btn"> Register </button>

    </div>

    <form id="login-form" class="form-input" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input class="input-feild" type="text" placeholder="User Name" name="username"/>
      <input class="input-feild" type="password" placeholder="Password" name="password"/>
      <input class="buttons-feild" type="submit" value="Submit">
      {% if message %}
        <p>{{ message }}</p>
      {% endif %}
    </form>

    <form id="register-form" class="form-input" action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <input class="input-feild" type="text" placeholder="User Name" name="reg-username">
      <input class="input-feild" type="text" placeholder="Email" name="reg-Email">
      <input class="input-feild" type="password" placeholder="Password" name="reg-password">
      <input type="checkbox"><span> I accept Praivcy and Policy. </span>
      <input class="buttons-feild" type="submit" value="Submit">

    </form>
  </div>

  </div>

{% endblock %}
